{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-left">
            <div class="section-title mb-5">
              <h2>About Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <p>
              <img src="{% static 'images/big_img_1.jpg' %}" alt="Image" class="img-fluid">
            </p>
          </div>
          <div class="col-lg-6 pl-md-5">
            <p>저희 나비효과는 '나를통해 비로소 지켜지는 환경'이라는 목표를 갖고있습니다.</p>
            <p>Todo list를 통한 할일 추천을 통해 자연스럽게 나도 자연을 지키게 되는 나비효과</p>
            <ul class="ul-check list-unstyled success mt-5">
              <li>우리의 환경을 변화시키면서 환경을 지키자</li>
              <li>Todo List를 통해서 나로부터의 변화를 이끌어 내자</li>
              <li>나비효과로 이루어지는 환경보호</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    {% comment %} <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-12">
                <div class="section-title">
                  <h2>Editor's Pick</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="post-entry-1">
                  <a href="post-single.html"><img src="{% static 'images/img_h_1.jpg' %}" alt="Image" class="img-fluid"></a>
                  <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                  <div class="post-meta">
                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="post-entry-2 d-flex bg-light">
                  <div class="thumbnail" style="background-image: url({% static 'images/img_v_1.jpg' %})"></div>
                  <div class="contents">
                    <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url({% static 'images/img_v_2.jpg' %})"></div>
                  <div class="contents">
                    <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>

                <div class="post-entry-2 d-flex">
                  <div class="thumbnail" style="background-image: url({% static 'images/img_v_3.jpg' %})"></div>
                  <div class="contents">
                    <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                    <div class="post-meta">
                      <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                      <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-title">
              <h2>Trending</h2>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">01</div>
              <div class="trend-contents">
                <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">02</div>
              <div class="trend-contents">
                <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">03</div>
              <div class="trend-contents">
                <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>

            <div class="trend-entry d-flex">
              <div class="number align-self-start">04</div>
              <div class="trend-contents">
                <h2><a href="{% url 'posts:blog_single' %}">News Needs to Meet Its Audiences Where They Are</a></h2>
                <div class="post-meta">
                  <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                  <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                </div>
              </div>
            </div>
            
            <p>
              <a href="#" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
            </p>

          </div>
        </div>
      </div>
    </div> {% endcomment %}

      <section class="pt-4" id="team">

        <div class="container">
          <div class="row justify-content-center mb-6">
            <div class="col-lg-6 col-xxl-5 text-center mx-auto mb-7">
              <h5 class="fw-bold fs-3 fs-lg-5 fs-xxl-7 lh-sm mb-3">Team 나비효과</h5>
              {% comment %} <p class="mb-0">Meet our Organization leaders and experts. Our leadership team drives our company and leads our people.</p> {% endcomment %}
              <br><br>
            </div>
            <div class="col-xxl-11">
              <div class="row flex-center gx-3">
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 text-center"><img class="w-100" src="{% static 'images/hyeongseok.jpg' %}" height="320" width="180" alt="..." />
                  <h5 class="fw-bold mt-4 mb-1">이 형 석</h5>
                  <p>개발자 / 팀장</p>
                  <p>동국대학교 정보통신공학과 전공<br> 
                  / 광고홍보학과 복수전공</p>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 text-center"><img class="w-100" src="{% static 'images/hyeonjun.jpg' %}" height="320" width="180" alt="..." />
                  <h5 class="fw-bold mt-4 mb-1">박 현 준</h5>
                  <p>개발자</p>
                  <p>동국대학교 교육학과 전공<br>
                  / 융합소프트웨어 연계전공</p>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 text-center"><img class="w-100" src="{% static 'images/taegeom.jpg' %}" height="320" width="180" alt="..." />
                  <h5 class="fw-bold mt-4 mb-1">이 태 검</h5>
                  <p>개발자</p>
                  <p>동국대학교 정보통신공학과 전공<br> 
                  / 데이터사이언스 연계전공</p>
                </div>
                <div class="col-sm-6 col-lg-3 mb-3 mb-lg-0 text-center"><img class="w-100" src="{% static 'images/person_1.jpg' %}" height="320" width="180" alt="..." />
                  <h5 class="fw-bold mt-4 mb-1">김 제 현</h5>
                  <p>디자이너</p>
                  <p>방송통신대학교 미디어영상전공</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->
{% endblock %}