{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script language="javascript" type="text/javascript">
    function open_parent_p(t) {
        a = "../../posts/detail/" + t
        console.log(a)
        window.parent.location.href = a;
    }
</script>


<div style="background-size:100%; ">
    <br>
    <h2 style="font-family: 'Nanum Gothic Coding', sans-serif;">내가 올린 일</h2>
    
    {% for post in posts %}
    <hr>
    <div style="display:flex; margin: 10px 0px; height: 25vh;">
        <div style="overflow:hidden;margin:0px 30px;width:20vh; height:20vh; border-radius:10%;">
            {% if post.image %}
            <img src="{{ post.image.url }}" style="object-fit: cover; width:100%; height: 100%;"
            style=" border-radius:10%; background-color:lightgray; width:100%; height:100%;" alt="서잔">
            {% else %}
            <img src="{% static 'images/d2.jpg' %}" style="object-fit: cover; width:100%; height: 100%;"
            style=" border-radius:10%; background-color:lightgray; width:100%; height:100%;" alt="서잔">
            {% endif %}
        </div>
        <h3><a style="display:flex; flex-direction: column; justify-content: space-around;"
            href="" onclick="var l = open_parent_p({{post.id}})">
            {{ post.title }}
        </a></h3>
    </div>
    {% endfor %}
    <hr>
</div>